@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  overscroll-behavior-y: none;
}

html {
  overflow-x: hidden;
}

body {
  max-width: 100svw;
}

.star {
  width: 544px;
  /* default size */
  height: 544px;

  /* responsive adjustments */
  @media (max-width: 768px) {
    width: 300px;
    height: 300px;
  }

  @media (max-width: 480px) {
    width: 200px;
    height: 200px;
  }
}
